* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 50px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
	list-style: none;
}

li {
	margin-right: 10px;
	margin-bottom: 20px;
}

a {
  color: black;
  padding: 3px 8px;
  font-weight: bold;
  font-style: italic;
	border-radius: 10px;
  font-weight: lighter;
  text-decoration: none;
	border: #000000 double 2px;
  background-color: lightgrey;
}

a:hover,
a:focus {
	color: lightgrey;
	background-color: black;
	transform: translateX(0.5px) rotate(-1deg) scale(0.99);
}

button{
  color:black;
  margin-top: 30px;
  padding: 3px 8px;
  border-radius: 10px;
	background-color: lightgrey;
  cursor: pointer;
}

button:not(:last-child) {
  margin-right: 20px;
}

button:disabled{
  color: grey;
}

input{
  padding: 3px 8px;
  border-radius: 10px;
  background-color: lightgray;
}

.timer{
  display: flex;
  margin-right: 5px;
  text-align: center;
  
  margin-top:  20px;
}

.field{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.value{
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

.label{
  flex-direction: column;
  margin-right: 5px;
}